<form (ngSubmit)="getUsername(userInput)" class="d-flex" id="formy">
  <input
    name="userInput"
    [(ngModel)]="userInput"
    class="form-control me-2"
    type="search"
    placeholder="Username"
    aria-label="Search"
  />
  <button
    id="click"
    [disabled]="userInput.length == 0"
    class="btn btn-outline-success"
    type="submit"
  >
    Search
  </button>
</form>
<div class="container" *ngIf="user">
  <div class="image"><img src="{{ user.avatar_url }}" /></div>
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <div class="card-title">{{ user.login }}</div>
        </div>
        <div class="card-text">
          <p>followers: {{ user.followers }}</p>
          <p>following: {{ user.following }}</p>

          <a href="{{ user.html_url }}" target="_blank">githuburl</a>
          <br />
          <a href="{{ user.repos_url }} " target="_blank">Repositories Url</a
          ><br />
        </div>
      </div>
    </div>
  </div>
</div>
